<!DOCTYPE html>
<html>
<head>
    <title>Consulta Paciente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<script>
    function novaMedicao() {
        window.location.href = window.location.href + '/medicao';
    }

    function deletarMedicao(medicao, paciente) {
        fetch(`/api/${paciente}/${medicao}`, {
            method: 'DELETE',
        })
        .then(data => {
            alert('Medição deletada com sucesso!');
            window.location.reload();
        })
        .catch(error => {
            console.error('Erro inesperado:', error);
            alert('Falha ao deletar medição. Por favor tente novamente.');
        });
    }
</script>
<body>
    <div class="container grid mt-4 p-4">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Início</a></li>
                <li class="breadcrumb-item active" aria-current="page">Consulta</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between align-items-center">
            <h1>Histórico de medições</h2>
            <h2><span class="badge bg-secondary">Paciente: {{ paciente }}</span></h2>
        </div>
        <div class="table-responsive g-col-8 mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Data/hora</th>
                        <th>Lado direito (kg)</th>
                        <th>Lado esquerdo (kg)</th>
                        <th>Diferença (kg)</th>
                        <th>Lado predominante</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for medicao in medicoes %}
                    <tr class="align-middle">
                        <td>{{ medicao.id }}</td>
                        <td>{{ medicao.timestamp }}</td>
                        <td>{{ medicao.sensoresD }}</td>
                        <td>{{ medicao.sensoresE }}</td>
                        <td>{{ medicao.diferenca }}</td>
                        <td>{{ medicao.predominante }}</td>
                        <td>
                            <button onclick="deletarMedicao(this.id, '{{ paciente }}')" type="button" class="btn btn-outline-danger btn-sm" id="{{ medicao.id }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                                </svg>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-outline-secondary btn-lg" onclick="novaMedicao()">Nova medição</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>