<!DOCTYPE html>
<html>

<head>
    <title>Nova medição</title>
</head>
<script>
    function getPaciente() {
        var pathArray = window.location.pathname.split('/');
        return pathArray[pathArray.length - 2];
    }

    function salvar() {
        var sensorData = {
            sensor1: document.getElementById('sensor1').innerText,
            sensor2: document.getElementById('sensor2').innerText,
            sensor3: document.getElementById('sensor3').innerText,
            sensor4: document.getElementById('sensor4').innerText,
            sensor5: document.getElementById('sensor5').innerText,
            sensor6: document.getElementById('sensor6').innerText,
            sensor7: document.getElementById('sensor7').innerText,
            sensor8: document.getElementById('sensor8').innerText,
        };

        fetch('/api/' + getPaciente(), {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(sensorData),
        })
        .then(data => {
            alert('Medição salva com sucesso!');
            window.location = document.referrer;
        })
        .catch(error => {
            console.error('Erro inesperado:', error);
            alert('Falha ao salvar medição. Por favor tente novamente.');
        });
    }
</script>

<body>
    <h2>Sensores</h2>

    <ol>
        <li id="sensor1">{{ sensores.sensor1 }}</li>
        <li id="sensor2">{{ sensores.sensor2 }}</li>
        <li id="sensor3">{{ sensores.sensor3 }}</li>
        <li id="sensor4">{{ sensores.sensor4 }}</li>
        <li id="sensor5">{{ sensores.sensor5 }}</li>
        <li id="sensor6">{{ sensores.sensor6 }}</li>
        <li id="sensor7">{{ sensores.sensor7 }}</li>
        <li id="sensor8">{{ sensores.sensor8 }}</li>
    </ol>

    <button onclick="salvar()">Salvar</button>
    <button onclick="history.back()">Voltar</button>
</body>

</html>