<!DOCTYPE html>
<html>

<head>
    <title>Nova medição</title>
</head>
<script>
    function getPaciente() {
        var pathArray = window.location.pathname.split('/');
        return pathArray[pathArray.length - 2];
    }

    function salvar() {
        var sensorData = {
            sensoresD: document.getElementById('sensoresD').innerText,
            sensoresE: document.getElementById('sensoresE').innerText,
        };

        fetch('/api/' + getPaciente(), {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(sensorData),
        })
        .then(data => {
            alert('Medição salva com sucesso!');
            window.location = document.referrer;
        })
        .catch(error => {
            console.error('Erro inesperado:', error);
            alert('Falha ao salvar medição. Por favor tente novamente.');
        });
    }
</script>

<body>
    <h2>Sensores</h2>

    <ol>
        <li id="sensoresD">{{ dados.sensoresD }}</li>
        <li id="sensoresE">{{ dados.sensoresE }}</li>
        <li>{{ dados.diferenca }}</li>
        <li>{{ dados.predominante }}</li>
    </ol>

    <button onclick="salvar()">Salvar</button>
    <button onclick="history.back()">Voltar</button>
</body>

</html>